*{
    margin: 0;
    padding: 0;
}
h2{
    color: #217074;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #e7eaef;
    flex-direction: column;
    color: #e7eaef;

}


h3{
    margin-top: 10px;
    font-size: 30px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    -webkit-animation: typing 17s steps(39, end), blink-pipe 1s step-end infinite;
    -moz-animation: typing 17s steps(39, end), blink-pipe 1s step-end infinite;

}
@keyframes typing {
    from {
        width: 0px;
        color: orangered;
    }
    to{
        width: 620px;
    }
}